{# <!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>WildSeries</title>
</head>
<body>
   <h1>Welcome !</h1>
</body>
</html> #}

{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
{% include '_banner.html.twig' %}
{% include '_list.html.twig' %}
{% include '_footer.html.twig' %}
{% endblock %}