<div class="banner">
  <video src="{{ asset('build/images/wild-video.webm') }}" autoplay loop muted></video>
    <div class="banner-text">
    <h1>The wildest community of series addicts</h1>
    <a class="btn btn-outline-danger btn-lg px-4" href="{{ path('program_index') }}">All the shows</a>
  </div>
</div>