<div class="row">
  <div class="col-md-6">
    <ul>
      <li>
        <h2>The Wild Wild West (1965–1969)</h2>
        <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
        <a href="#" class="btn btn-outline-danger">Learn more</a>
      </li>
      <li>
        <h2>Power Rangers Wild Force (2002–2003)</h2>
        <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
        <a href="#" class="btn btn-outline-danger">Learn more</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li>
        <h2>Wild at Heart (2006–2013)</h2>
        <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
        <a href="#" class="btn btn-outline-danger">Learn more</a>
      </li>
      <li>
        <h2>The Wild Thornberrys (1998–2004)</h2>
        <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
        <a href="#" class="btn btn-outline-danger">Learn more</a>
      </li>
    </ul>
  </div>
</div>

{# {% include 'program/index.html.twig' %} #}